body{
    background-color: bisque;
}   
 
#pets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}

.petscards {
    background-color: white;
    margin: 1%;
    margin-bottom: auto;
    border: 2px solid black;
    width:30%;
    height: auto;
    position: relative;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    box-shadow: 5px 5px black;
    
}
.adopt{
    font-size: 30px;
    font-style: italic;
    font-family: sans-serif;
   justify-content: center;
}
#btn{
    height: 200px;
    margin: 0px auto;
    padding-top: 10px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

}
.Allbtn{
    background-color: black;
    height: 50px;
    width: 150px;
    color: white;
    }
.Catbtn{
    background-color: fuchsia;
    height: 50px;
    width: 150px;
    }

.Dogbtn{
    background-color: yellow;
    height: 50px;
    width: 150px;
}

.Dinobtn{
    background-color: coral;
    height: 50px;
    width: 150px;
}



img{
    display:block;
    height: 200px;
    width: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.petname{
    display: block;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 0;
    width:100%;
    margin-top: 0;
    margin-left: auto;
    text-align: center; 
    font-family: cursive;  
}

.pettype {
    display: box;
    font-weight: bold;
    width:100%;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    bottom: 0;
    position: relative;
  
 }

.Cat{
background-color:fuchsia;
}

.Dog{
background-color:yellow;
}

.Dino{
background-color: coral;
}
.skill{
    margin: 10px;
}
    